<div class="btn-groups p-t">
	<button class="btn info btn-sm" ng-click="add_orderprd()">新增</button>
	<button class="btn white m-l btn-sm" ng-click="delete_orderprd()">删除</button>
	<button class="btn info m-l btn-sm" ng-click="import_orderprd()">商品导入</button>
</div>
<div class="table-responsive fade-in-up">
	<table class="table table-striped table-hover b-t b-b overflowtable" ng-if="orderprdlist.length > 0">
		<thead>
			<tr>
				<th width="40"></th>
				<th width="40">
					<label class="ui-check" style="margin-bottom: 0;">
						<input type="checkbox"  name="checkallprd" ng-model="checkallprd" ng-click="checkallorderprd(checkallprd)">
						<i class="dark-white"></i>
					</label>
				</th>
				<th width="150">操作</th>
				<th width="120">图片</th>
				<th width="120">商品代码</th>
				<th width="120">商品名称</th>
				<th>商品简称</th>
				<th>商品规格代码</th>
				<th>商品规格名称</th>
				<th>数量</th>
				<th>平台商品名称</th>
				<th>平台规格名称</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in orderprdlist" ng-click="selectorderprd($event,item)" ng-class="item.orderprdcheck ? 'orderchecked' : ''">
				<td>{{$index+1}}</td>
				<td>
					<label class="ui-check">
						<input type="checkbox" name="orderprdcheck" ng-model="item.orderprdcheck" ng-click="checkorderprd($event,item)">
						<i class="dark-white"></i>
					</label>
				</td>
				<td>
					<button class="btn white btn-sm" ng-click="edit_orderprd(item)">更换</button>
					<button class="btn white btn-sm" ng-click="delete_orderprd(item.id)">删除</button>
				</td>
				<td><img ng-src="{{item.prdimg}}" width="40"></td>
				<td>{{item.itemCode}}</td>
				<td>{{item.itemName}}</td>
				<td>{{item.simpleName}}</td>
				<td>{{item.skuCode}}</td>
				<td>{{item.skuName}}</td>
				<td>{{item.quantity}}</td>
				<td>{{item.platformprdname}}</td>
				<td>{{item.platformskuname}}</td>
				<td>{{item.prdmark}}</td>
			</tr>
		</tbody>
	</table>
	<div class="fade-in-up" ng-if="orderprdlist.length <= 0">
		<div class="p-a-lg text-center">
			<span class="text-3x">
			  <i class="fa fa-exclamation-circle text-2x text-warn"></i>
			</span>
			<h4 class="_300 text-muted">
			   暂时没有商品信息
			</h4>
		</div>
	</div>
</div>